{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>FEED ME SPACETIME COORDINATES</title>
    <link rel="stylesheet" type="text/css" href="{% static 'surfinfo/style.css' %}">
</head>
<body>
    <div>
        <h1 id="greeting">Where and when?</h1>
    </div>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="" method="get">
        <div>
            <table>
                {{ form.as_table }}
            </table>
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
    {% if surfDatetime %}
    <hr>
    <div>
        <h2>Tide: {{ tide.height|floatformat:1 }} ft</h2>
        <h2>Swells</h2>
            <ul>
                {% for each in swells %}
                    <li class="list_section_header">Swell {{ forloop.counter }}</li>
                    <ul>
                        <li>{{ each.height|floatformat:1 }}ft at {{ each.period|floatformat:0 }} sec, {{ each.direction|floatformat:0 }}° ({{ each.power }} kW/m)</li>
                    </ul>
                {% endfor %}
            </ul>

    </div>
    {% endif %}
</body>
<script>
    // set default field values for easier resubmit
    {% if surfDatetime %}
    document.getElementById("id_surfDatetime").value = "{{ surfDatetime }}";
    document.getElementById("id_surfRegion").value = "{{ surfRegion }}";
    {% endif %}
</script>
</html>