{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>WHAT'S UP BRO?</title>
    <link rel="stylesheet" type="text/css" href="{% static 'surfinfo/style.css' %}">
    <link rel="shortcut icon" href="{% static 'surfinfo/favicon.ico' %}"/>
    <link rel="apple-touch-icon" href="{% static 'surfinfo/favicon.ico' %}"/>
</head>
<body>
    <a class="primary_button" href="addsessionbro">Just surfed!</a>
    <hr>
    <a class="primary_button" href="wherewhenbro">Where to surf?</a>
</body>
</html>