{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>WHAT'S UP BRO?</title>
    <link rel="stylesheet" type="text/css" href="{% static 'surfinfo/style.css' %}">
    <link rel="shortcut icon" href="{% static 'surfinfo/favicon.ico' %}"/>
    <link rel="apple-touch-icon" href="{% static 'surfinfo/favicon.ico' %}"/>
</head>
<body>
    <h1>Surfing is hard</h1>
    <h2>Picking where to surf doesn't have to be</h2>
    <hr>
    <h2>Here's the deal:</h2>
    <h3>You tell us how much fun you had surfing</h3>
    <h3>We give you hints on where to go next time</h3>
    <hr>
    <a class="primary_button" href="addsessionbro">Just surfed!</a>
    <hr>
    <a class="primary_button" href="wherewhenbro">Where to surf?</a>
    <hr>
    <p>This is an experiment, not a finished product</p>
    <p>Most of what you see here will change in the coming weeks</p>
    <p class="list_section_header">Coming soon:</p>
    <ul>
        <li>Wind conditions</li>
        <li>Identity model (everything is anonymous today)</li>
        <li>More surf spots</li>
        <li>Private surf spots (unique to you)</li>
        <li>Better UI</li>
        <li>Smart Watch app</li>
    </ul>
    <p>Questions, suggestions, complaints: kremerica@gmail.com</p>
</body>
</html>