{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>I EAT SURF SESSIONS</title>
    <link rel="stylesheet" type="text/css" href="{% static 'surfinfo/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'surfinfo/favicon.ico' %}"/>
</head>
<body>
    <div>
        <h1 id="greeting">How was it on this beautiful </h1>
    </div>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form id="addsession_form" action="" method="post">
        {% csrf_token %}
        <div>
            <table>
                {{ form.as_table }}
            </table>
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
    <script>
        // set greeting day of week and set endTime value to current time
        userDatetime = new Date();
        document.getElementById("greeting").innerHTML += ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"][userDatetime.getDay()] + "?";
        // document.getElementById("id_endTime").value = (userDatetime.getHours()<10?'0':'') + userDatetime.getHours() + ":" + (userDatetime.getMinutes()<10?'0':'') + userDatetime.getMinutes();
    </script>
</body>
</html>