{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>TASTY</title>
    <link rel="stylesheet" type="text/css" href="{% static 'surfinfo/style.css' %}">
</head>
<body>
    <div>
        <h1>Thanks bro, we'll add {{ newSpot.spotName }} as soon as we can!</h1>
    </div>
    <hr>
    <div>
        <h2>What happens now?</h2>
        <p>We'll do the plumbing to set up {{ newSpot.spotName }} as a surf spot</p>
        <p>Right now there are only a handful of you so we're adding spots manually</p>
        <h2>And after that?</h2>
        <p>In the future you'll be able to add your own spots, quick and easy</p>
        <p>DON'T WORRY, YOU WILL CONTROL WHO (IF ANYBODY) CAN SEE SPOTS YOU ADD</p>
        <p>We're not trying to bring more surfers to your stompin grounds</p>
        <p>Happy surfing!</p>
    </div>
</body>
</html>