@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans+Condensed:wght@300&family=Oswald:wght@300&display=swap');

body {
    background-color: #384047;
}
* {
    font-family: 'Oswald', sans-serif;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

input, select, option {
    color: black;
}
.button {
    color: black;
}