@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:wght@300;400&display=swap');

/* name some colors and fonts*/
:root {
    --accent_color: #FF0266;
    --error_color: #CC0000;
    --background_color: #1E2019;
    --font_color: #F0F8FF;
    --link_color: #F0F8FF;

    --header_font: 'Montserrat', sans-serif;
    --subheader_font: 'Montserrat', sans-serif;
    --body_font: 'Open Sans', serif;
}

/* catch-all style rules */
body {
    background-color: var(--background_color);
    font-family: var(--body_font);
    color: var(--font_color);
}
div {
    margin-left: 4px;
}

/* headers */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--header_font);
}
h1, h3 {
    color: var(--accent_color);
}

/* form stuff */
optgroup {
    color: --var(accent_color);
    font-weight: bold;
    font-size: 1.05em;
}
input, select, option {
    color: black;
    font-size: 1.05em;
}
input[type=submit], .primary_button {
    margin-top: 15px;
    font-size: 1.5em;
    font-family: var(--header_font);
    text-transform: uppercase;
    background-color: var(--accent_color);
    color: var(--font_color);
    border-style: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding-left: 2em;
    padding-right: 2em;

    text-decoration: none;
    -webkit-appearance: none;
}

.errorlist {
    list-style-type: none;
    color: var(--error_color);
    padding-left: 0em;
}

/* misc */
.web_link {
    color: var(--link_color);
}
.annotation {
    margin-left: 0.5em;
    padding: 2px 5px 2px 5px;
    background: var(--font_color);
    color: var(--background_color);
    font-family: var(--header_font);
}

/* lists */
.list_section_header {
    color: var(--accent_color);
    font-weight: bold;
    font-size: 1.1em;
    text-transform: uppercase;
    list-style-type: none;

    padding-top: 10px;
}



/* tables */
tr {
    height: 2.5em;
}
th {
    text-align: right;
}

