@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans+Condensed:wght@300&family=Oswald:wght@300&display=swap');
/* name some colors and fonts*/
:root {
    --accent_color: #FF0266;
    --error_color: #CC0000;

    --header_font: 'Montserrat', sans-serif;
    --subheader_font: 'Montserrat', sans-serif;
    --body_font: 'Oswald', sans-serif;
}

/* catch-all style rules */
body {
    background-color: #384047;
}
* {
    font-family: var(--body_font);
    color: AliceBlue;
    margin-left: 4px;
}

/* headers */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--header_font)
}
h1 {
    color: var(--accent_color)
}

/* form stuff */
input, select, option {
    color: black;
}
input[type=submit] {
    margin-top: 15px;
    font-size: 1.5em;
    text-transform: uppercase;
    background-color: var(--accent_color);
    color: AliceBlue;
    border-style: none;

    -webkit-appearance: none;
}
.errorlist {
    list-style-type: none;
    color: var(--error_color);
}

/* lists */
.list_section_header {
    color: var(--accent_color);
    font-weight: bold;
    text-transform: uppercase;
    list-style-type: none;
}

/* tables */
tr {
    height: 2.5em;
}
th {
    text-align: right;
}